* {
  list-style: none;
  font-family: Montserrat;
}
.container {
  margin: 0;
  padding: 0;
}
.left-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  color: #ff6060;
}
.right,
.left {
  width: 48%;
  text-align: left;
}
.titreH1 {
  margin: 0.5em 0 0 0;
  font-size: 1.6em;
}
.titre-loge {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
.titre-loge .titre {
  margin: 0.5em;
}
.location,
.right {
  font-size: 1.1em;
  margin: 1em;
}
.rating {
  text-align: right;
}
.location {
  margin-left: 0;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right p {
  text-align: right;
}
.left {
  margin-bottom: 0.4em;
}
.divimage {
  width: 100%;
  margin: auto;
  padding: 0;
}
.imageCover {
  object-fit: cover;
  filter: brightness(100%);
  height: 30em;
  width: 100%;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.para {
  font-size: 1em;
  flex-direction: column;
}

.namePicture p {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titre-loge {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
}

/* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 767px) {
  .left-right-container {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: auto;
    padding: 0;
  }
  .right div {
    display: flex;
  }
  .rating {
    text-align: left;
    align-self: center;
  }
  .titre-loge {
    width: 100%;
    margin-top: 0;
    flex-direction: column;
  }
  .tags {
    width: 100%;
  }
  .imageCover {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
  }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
